<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<script src="angular.min.js"></script>
	<title>Test 4</title>
	<style>
		table, th, td{
			border: 1px solid black;
			border-collapse: collapse;
			padding: 5px;
		}
		table tr:nth-child(odd){
			background-color: #f2f2f2;
		}
		table tr:nth-child(even){
			background-color: #ffffff;
		}
	</style>
</head>
<body>
	<div ng-app="ungdungAngularJS" ng-controller="sinhvienController">
		<table border="0">
			<tr><td>Nhap ho:</td><td><input type="text" ng-model="sinhvien.ho" name=""></td></tr>
			<tr><td>Nhap ten:</td><td><input type="text" ng-model="sinhvien.ten" name=""></td></tr>
			<tr><td>Ho va Ten</td><td>{{sinhvien.hoten()}}</td></tr>
			<tr><td>Mon hoc</td><td>
						<table border="0">
							<tr>
							<th>Ten Mon</th>
							<th>Diem thi</th>
						</tr>
						<tr ng-repeat="monhoc in sinhvien.tenMonHoc">
							<td>{{monhoc.ten}}</td>
							<td>{{monhoc.diemthi}}</td>
						</tr>
					</table>
			</td></tr>
		</table>
	</div>
	<script>
		var ungdungAngularJS = angular.module("ungdungAngularJS",[]);
		ungdungAngularJS.controller("sinhvienController", function($scope){
			$scope.sinhvien = {
				ho: "Tran Ngoc Bao",
				ten: "Long",
				hocphi:200,
				tenMonHoc:[
					{ten:"Vat ly",diemthi:9.5},
					{ten:"Toan",diemthi:10},
					{ten:"Hoa",diemthi:9.5},
					{ten:"Anh",diemthi:9.75},
					{ten:"Van",diemthi:10}																				
				],
				hoten:function(){
					var doiTuongSinhVien = $scope.sinhvien;
					return doiTuongSinhVien.ho+" "+doiTuongSinhVien.ten;
				}
			};
		});
	</script>
</body>
</html>